/* Enables dark background*/

body {
  background-color:rgb(18, 17, 17);
}
.text {
  color:white;
}
/* the old code restyled for a darker interface*/
  h1{
            background-color:#c55506;
        }
        a:link {
            color:red;
        }
        a:visited {
            color:blue;
        }
        a:hover {
            color:green;
        }
        a:active {
               color:orange;      
        }
           h3 {

              font-size:25px;  
            }
            h4 {
            font-size:25px;
            }
          a {
              font-size:19px;
          }
          h2 {
             font-size:25px;
                  
          }
        p {
            font-size:20px;
        }
       ul {
          font-size:20px;
       }
/* Navigation bar code*/
	.navbar {
		background-color:rgb(86, 84, 86);
		position: relative;
		z-index: 999;
	}

	.navbar ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
    background:rgb(86, 84, 86);
	}

	.navbar li {
		display: inline-block;
	}

	.navbar li a {
		color: white;
		display: block;
		padding: 10px 20px;
		text-decoration: none;
		font-size:20px;
	}

	/* Style the dropdown menu */
	.navbar ul ul {
		position: absolute;
		top: 100%;
		display: none;
	}

	.navbar ul ul li {
		display: block;
	}

	.navbar li:hover ul {
		display: block;
	}

	/* Change the background color of dropdown links on hover */
	.navbar ul ul li a:hover {
		background-color: #555;
	}
